main {
  animation: scaling 1.25s cubic-bezier(0.25, 0.1, 0.08, 1);
}

/* Animations and animate Utility classes*/
.opacity-wave {
  animation: Opacity 1.5s ease-in;
}

@keyframes Opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opacity {
  animation: Opacity 1.5s ease;
}

@keyframes Opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.scaleUp {
  animation: scaleUp 1.5s ease;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(80px);
  }

  50% {
    transform: scale(1.05) translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.down {
  animation: down 1.5s ease;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.scaling {
  animation: scaling 1.5s ease;
}

@keyframes scaling {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(0px);
  }

  50% {
    transform: scale(1.05) translateY(25px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.leftIn {
  animation: leftIn 1.5s ease;
}

@keyframes leftIn {
  0% {
    transform: translateX(-80px);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

.RightIn {
  animation: RightIn 1.5s ease;
}

.comingDown {
  animation: comingDown 1.5s cubic-bezier(0.29, 0.1, 0.18, 1.04);
}

@keyframes comingDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.comingUp {
  animation: comingUp 1.5s cubic-bezier(0.29, 0.1, 0.18, 1.04);
}

@keyframes comingUp {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(80px);
  }

  50% {
    transform: scale(1.1) translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

/* Custom Properties For Waves Only  */
:root {
  --wave-three-bg: hsl(183, 100%, 15%);
  --wave-three: hsl(172, 67%, 45%);
  --wave-two: hsl(189, 41%, 97%);
  --wave-two-opacity: 0.4;
}
.Darkmode {
  --wave-three-bg: #2b2b2b;
  --wave-three: hsl(76, 96%, 61%);
  --wave-two: #ffffff;
  --wave-two-opacity: 0.1;
}
body {
  overflow-x: hidden;
}

/*waves*/

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
  z-index: -1;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: var(--wave-three-bg);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  transition: all 0.5s ease;
  animation: drift 20000ms infinite linear;
}

.wave.-three {
  animation: drift 20500ms infinite linear;
  position: fixed;
  transition: all 0.5s ease;
  background-color: var(--wave-three);
}

.wave.-two {
  animation: drift 17000ms infinite linear;
  opacity: var(--wave-two-opacity);
  transition: all 0.5s ease;
  background: var(--wave-two);
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/*LOADING SPACE*/

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: hsl(76, 96%, 71%);
  background: linear-gradient(hsl(76, 96%, 71%), hsl(76, 96%, 71%));
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}
